---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Test Strony Głównej">
  <h1 class="text-4xl font-bold text-red-600">Testowa strona główna</h1>
  <p class="text-xl">Ten tekst powinien używać czcionki Montserrat.</p>
</Layout>
