---
import "../styles/global.css";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Wierttrans</title>
  </head>
  <body>
    <slot />
  </body>
</html>
